<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @apt_complex.street %>
</p>

<p>
  <strong>Description:</strong>
  <%= @apt_complex.description %>
</p>

<p>
  <strong>Floors:</strong>
  <%= @apt_complex.floors %>
</p>

<p>
  <strong>City:</strong>
  <%= @apt_complex.City %>
</p>

<p>
  <strong>Company:</strong>
  <%= @apt_complex.Company %>
</p>

<%= link_to 'Edit', edit_apt_complex_path(@apt_complex) %> |
<%= link_to 'Back', apt_complexes_path %>
