<%= form_for(@apartment) do |f| %>
  <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% @apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :floor %><br>
    <%= f.number_field :floor %>
  </div>
  <div class="field">
    <%= f.label :room %><br>
    <%= f.number_field :room %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :isVacant %><br>
    <%= f.check_box :isVacant %>
  </div>
  <div class="field">
    <%= f.label :Apt_complex_id %><br>
    <%= f.collection_select :Apt_complex_id, AptComplex.all, :id, :name, prompt: 'Please select an apartment complex...'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
