<!DOCTYPE html>
<html>
<head>
  <title>RoomFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'style.scss' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <header>Find Your Friends</header>
</head>
<body>

<div>
  <% if flash[:message] %>
    <p class="flash-message"><%= flash[:message] %></p>
  <% end %>
  <%= yield %>
</div>

<footer>
	<%= render 'layouts/footer' %>
</footer>

</body>
</html>
